@model Actor
@{
	ViewData["Title"]= "Add a new actor";
}

<div class="row text">
	<div class=" coll-md-8 offset-2">
		<p>
			<h1>Add New Actor</h1>
		</p>
		<div class="row">
			<div class=" coll-md-8 offset-2">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group text-center">
					<img id="profilepicpre" />
				</div>
				<div class="form-group">
					<label asp-for="profilePictureURL" class="control-label"></label>
					<input asp-for="profilePictureURL" class="form-control"/>
					<span asp-validation-for="profilePictureURL" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="fullName" class="control-label"></label>
					<input asp-for="fullName" class="form-control"/>
					<span asp-validation-for="fullName" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="biography" class="control-label"></label>
					<input asp-for="biography" class="form-control"/>
					<span asp-validation-for="biography" class="text-danger"></span>

				</div>

				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-outline-success float-right"/>
					<a class="btn btn-outline-secondary" asp-action="Index" > Show All</a>	
				</div>
				</form>
				

			</div>
		</div>
	</div>

</div>


@section Scripts{
	<script>
$(document).ready(function() {
	var output = document.getElementById('profilepicpre');
    output.src = $("profilePictureURL").val();
})

$("#profilePictureURL").on("change", function() {
    var output = document.getElementById('profilepicpre');
    output.src = $(this).val();
})
	</script>
}
